html,
body{
	height: 100%
}

html{
	overflow-y:scroll
}
body{
	padding: 0;
	margin: 0;
	border: 0;
	color: #555555;
}
.main{
	margin-top: 100px 
}
.content{margin-top: 70px;}

.navbar{
	border-radius: 0;
	border: 0;
	color: white
}
.navbar-brand{
	font-weight: 700
}
.banner-text{
	margin: 0 auto 20px auto;
	font-size: 40px;
	text-align: center;
	border-radius: 5px;
	max-width: 80%;
	height: 200px
}
.banner-button{
	text-align: center
}
.feed-heading{
	text-align: center;
	font-size: 20px
}

.feed-head{margin-bottom: 20px;
		   color:#090484;}

.feed-item-list{
	cursor: pointer;
	margin-bottom: 7px;
	-webkit-border-radius: 3px;
			border-radius: 3px;
	-webkit-transition: left .5s cubic-bezier(0.250,0.460,0.450,0.940),width .4s ease,padding .4s ease,box-shadow .4s ease,margin .4s ease,border .4s ease;
			transition: left .5s cubic-bezier(0.250,0.460,0.450,0.940),width .4s ease,padding .4s ease,box-shadow .4s ease,margin .4s ease,border .4s ease;
	background-color: #f5f5f5;
	border: 1px solid #d8d8d8;
	left: 0;
	margin: 10px 0 20px 0;
	position: relative;
	z-index: 2;
}

.feed-item-title{color: #030217;
				 font-size: 20px;
				 padding:10px;}

.social-media-buttons{background: rgba(000,000,000,0.75);
						padding:5px;
						color: #fff;
						border-top: 1px solid rgba(255,255,255,0.13);
						visibility: none;
						position: absolute;
						width: 358px;
						top:36px;
						border-radius: 0px 0px 3px 3px;}

.padding-right{padding-right:7px;	
			   padding-top:0px;}

.thumb{margin-top:5px;}

.count{margin-top: -5px;}

.news-list{}
.news-item{
	background-color: aliceblue;
	padding: 10px;
	margin-bottom: 5px;
}
.news-item:first-child{
	border-radius: 5px 5px 0 0;
}
.news-item:last-child{
	border-radius: 0 0 5px 5px;
}
.item-title{
	font-size: 20px;
}
.item-hover{
	display: none
}
.item{
	display: block
}
.votes{}
.inl{
	display: inline
}
.login-text{
	text-align: center;
	font-size: 20px
}

.center{text-align: center;}
.left{text-align: left;}
.right{text-align: right;}

.author{font-size: 13px;
		font-style: italic;}

.border-bottom{border-bottom: 1px solid #ddd;}
.border-top{border-bottom: 1px solid #ddd;}
/*input{
	border: 1px solid green;
	padding: 5px;
	border-radius: 5px;
}

input:focus,textarea:focus,select:focus{
 border:1px solid #fafafa;
 -webkit-box-shadow:0 0 6px #007eff;
 -moz-box-shadow:0 0 5px #007eff;
 box-shadow:0 0 18px #007eff;
 padding: 5px;

}*/

.main{min-height: 100%;}

footer{min-height:100px;
	   padding-top:5px;
	   background-color: #000;
	   color:#fff;
	   margin-top: -10px;}