html{
	overflow-y:scroll;
}
body{
	padding: 0;
	margin: 0;
	border: 0;
}
.main{
}
.banner{
	height: 400px;
	margin-bottom: 50px;
	background: url(../img/banner.jpg);
	background-position: center;
	background-size: cover
}
.banner-text{
	margin: 0 auto 20px auto;
	font-size: 40px;
	text-align: center;
	/*background: rgba(0, 0, 0, 0.18);*/
	border-radius: 5px;
	max-width: 80%;
	height: 200px;
}
.banner-button{
	text-align: center
}
.news-feed{

}
.feed-heading{
	text-align: center;
	font-size: 20px
}
.news-list{
}
.news-item{
	background-color: silver;
	padding: 10px;
	margin-bottom: 5px;
}
.news-item:first-child{
	border-radius: 5px 5px 0 0;
}
.news-item:last-child{
	border-radius: 0 0 5px 5px;
}
.item-title{
	font-size: 20px;
}
.item-hover{
	display: none
}
.votes{

}
.inl{
	display: inline
}