.banner{
	height: 500px;
	margin-bottom: 20px;
	background: url(http://www.electionchannel.com/images/Ghana-flags.jpg);
	background-position: center;
	background-size: cover
}
.navbar-default{
	background-color: rgba(0, 0, 0, 0.2);
	border-top: 1px white solid;
	color: white
}
.navbar-brand{
	font-weight: 700
}
.tagline{
	text-align: center;
	padding: 10px;
	font-size: 3.3em;
	color:#fff;
	text-shadow:2px 2px 2px #000;
	background: rgba(000,000,000,0.08);
	position: absolute;
	left:40%;
	top:30%;
}
.feedable > a:hover{
	cursor: pointer
}
.feed{
	margin-bottom: 40px;
    /*text-align: center;*/
}
.fd{
	display: none
}
.welcome{
	font-size: 4em
}
.profile-text{
	text-align: left 
}