.content-header{margin-bottom: 20px;}

.content-title{color:#090484;}

.date-posted{margin-bottom: 15px;}

.content-content{margin:40px 0px 40px 5px;}

.comment-form{margin-bottom:10px;
			  padding-bottom: 10px;}

.older-comments{margin-left: 20px;}